* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #303031;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: #0a009c;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    height: 80px;
    object-fit: contain;
    pointer-events: none;
    -webkit-user-drag: none;
}

.button-ratings-container a,
.links a,
footer a,
.button-ratings a,
.button-recommendations a,
.button-recommendations-red a,
.aviso-favoritos a {
    color: #FFFFFF;
    text-decoration: none;
}

.links {
    display: flex;
    text-align: right;
}

.links a {
    padding: 22px;
}

.link-header:hover {
    color: #696969;
}

.imagebanner {
    width: 100%;
    height: 600px;
    display: inline-block;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
}

.imagebanner::before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.title {
    font-size: 50px;
}

.banner-text {
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    margin-left: 4%;
    font-size: 18px;
}

.banner {
    position: relative;
}

.subtitle- {
    text-shadow:
        1px 1px 0px black,
        -1px 1px 0px black,
        1px -1px 0px black,
        -1px -1px 0px black;
    font-size: 20px;
}

.button-ratings-container {
    width: 30%;
    background-color: #0a009c;
    font-size: 16px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.button-ratings-container:hover {
    transform: scale(1.1);
    background-color: #180f9e;
}

.recomendados {
    padding: 40px 5%;
    text-align: center;
    color: #fff;
}

.grid-filmes {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.filme {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.filme:hover {
    transform: scale(1.1);
}

.filme img {
    width: 100%;
    border-radius: 8px;
}

h2 {
    text-align: left;
    font-size: 30px;
}

footer {
    background-color: #000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    flex-shrink: 0;
}

footer .ano {
    color: #fff;
    margin-right: 10px;
}

.ratings {
    margin: 2%;
}

#movie-series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: #fff;
}

.card {
    position: relative;
    width: 180px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
    pointer-events: none;
}

input[type="checkbox"] {
    appearance: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #636262;
    border-radius: 4px;
}

input[type="checkbox"]:checked {
    background-color: #3d3d3d;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.ratings h1,
.h2-recommendations {
    color: #fff;
    text-align: center;
}

.h2-recommendations {
    margin-top: 2%;
}

#recommendations {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

.grid-filmes-recommendations {
    position: relative;
    background: #222;
    padding: 10px;
    width: 200px;
    height: 390px;
    border-radius: 7px;
    transition: all 0.3s;
    overflow: hidden;
    margin-left: 18px;
    margin-bottom: 8%;
}

.grid-filmes-recommendations:hover {
    transform: scale(1.1);
}

.img-recommendations {
    padding: 10px;
    border-radius: 16px;
    width: 180px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.p-recommendations {
    color: #fff;
    margin-bottom: 5%;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-recommendations,
.button-recommendations-red {
    width: 90px;
    height: 40px;
    border: 2px solid #161616;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-recommendations {
    background-color: #00b40f;
}

.button-recommendations:hover {
    background-color: #00d312;
}

.button-recommendations-red {
    background-color: #ff0000;
}

.button-recommendations-red:hover {
    background-color: #ff3f3f;
}

.aviso-favoritos {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    text-align: center;
}

.aviso-favoritos a {
    color: #1100a8;
    font-size: 22px;
    margin-left: 14px;
}

.aviso-favoritos a:hover {
    color: #1600db;
}

#favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 0;
    min-height: 740px;
}
